@charset "utf-8";
/*--------------------------
全体スタイル
-----------------------*/
PC-only {

}

SP-only {

}
/*スルスル戻る*/
html{
  scroll-behavior:smooth;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

ul{
  list-style:none;
}

a {
  color:#eee;
  cursor:pointer;
}
h1{
  font-size:21px;
  font-family:suns-selif;
}

h2{
  font-size:18px;
}

h3 {
font-size: 1.2rem;
font-family: 'Hiragino Mincho Pro';
}

p{
  margin-top:0;
  margin-bottom:0;
}

img {
  object-fit:cover;
}

header{
  padding: 0;
  margin:0;
  background:#068fff;
  box-sizing:border-box;
  padding:8px 40px 8px 64px;
}

.headers{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.logo{
  font-size: 32px;
  font-weight:bold;
  flex:1;
}

.menus{
  padding:0 24px;
  display:inline-flex;
}

.menu a{
  font-size:16px;
  padding:0 8px;
}

.search {
  width:240px;
  height: 30px;
  display:flex;
  border-radius:4px;
  background:#ccc;
}

.search input{
  width:210px;
  height:100%;
  border:none;
  outline:none;
  padding:4px;
  border-radius:4px 0 0 4px;
}

.search-icon{
  width:30px;
  height:100%;
  display:grid;
  place-items:center;
  cursor:pointer;
}

/*--------------------------
.header_a ヘッダー
-----------------------*/
.page_title{
	font-size:30px;
	font-family:Poppimns;
	color:#1e3450;
	font-weight:bold;
}

/*--------------------------
.section_a
-----------------------*/
.section_a{
  width:100%;
  max-width:600px;
  height:auto;
  margin:0 auto;
}

.section_a__inner{
  background-color:lightgrey;
  background-image:url("../images/undraw_growth_curve_re_t5s7.svg");
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  text-align:left;
  display:flex;
}

.section_a__r-column{
  background-image:url("./images/chum_sp_0616_kai.jpg");
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  text-align:right;
}

.section_a__r-column__img{
  max-width:800px;
  width:500px;
}

.main-logo{
  margin: 0 auto;
  display:block;
  text-align:left;
  align-items:center;
  width:20%;
  margin-left:0px;
}

.main-logo img{
  width:280px;
  padding-left:90px;
  padding-top:60px;
}

/*----ハンバーガーメニュー

--------------------------*/
nav {
  display: block;
  position: fixed;
  background-color: #ffffff;
  width: 220px;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

.toggle-btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle-btn span {
  background-color: #fff;
}

.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}


/*--------------------------
.section_b HEROイメージ
-----------------------*/
.section_b{
  width:100%;
  max-width:1300px;
  margin:0 auto;
  background-color:lightgray;
}

.section_b__inner{
  background-color:gray;
  max-width:680px;
  height:auto;
  display:block;
  display:flex;
  margin:0 auto;
  padding-top:30px;
}

.section_b__r_column{
  width:60%;
  display:block;
  margin-top:50px;
}

.section_b__r_column img{
  display:block;
  width:280px;
}

.section_b__text{
  display:block;
  width:500px;
  margin-top:50px;
}

.section_b__sub-title{
  margin:0 auto;
  display:block;
  text-align:left;
  align-items:center;
  padding:1rem;
  font-size:10px;
}

.section_b__english{
  margin:0 auto;
  text-align:left;
  display:block;
  padding:1rem;
  font-size:10px;
}

.section_b__l-column img{
  width:150px;
}
.section_b__l-column__e-text{
  font-family: Allura;
  font-size:12px;

}
/*--------------------------
.section_c
-----------------------*/
.section_c{
  display:block;
  background-color:lightgray;
  width:100%;
  max-width:1300px;
  margin:0 auto;
}

.section_c__inner img{
  width:250px;
  margin-left:400px;
  background-color:#57a2c7;
}

/*--------------------------
.section_d 3カード
-----------------------*/
.section_d{
  width:100%;
  max-width:1300px;
  margin:0 auto;
  display:block;
}

.section_d__inner{
  background-color:#1e3450;
  height:auto;
}

.section_d__inner h2{
  color:#fff;
  text-align:center;
  padding:2rem;
}

.section_d__inner p{
  color:#fff;
  text-align:center;
  width:95px;
}

.section_d__inner__flex{
  display:flex;
  justify-content:space-around;
  max-width:700px;
  margin:0 auto;
}

.section_d__inner__text{
  padding-top:60px;
  font-size:12px;
}

.section_d-card__r-column{
  text-align:center;
  display:block;
  text-align:center;
  width:200px;
  height:200px;
}

.section_d-card__r-column p{
  text-align:left;
  font-size:13px;
  padding-top:10px;;
}

.section_d-card__c-column{

}
.section_d-card__c-column img{
  width:200px;
  height:200px;
}



.section_d-card__l-column img{
  width:200px;
  height:200px
}

button{
  color:black;
  border-radius:20px;
  text-align:center;
  margin:0 auto;
  display:block;
  width:250px;
  background:#fff;
}

.container2 a{
  display:block;
  width: 200px;
  height: 50px;
  cursor:pointer;
  color:black;
}

button{
  display:block;
  width: 100%;
  height: 100%;
  padding:8px 16px;
  color:#fff;
  background-color: #333;
  position:relative;
}

button::before,
button::after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  border:2px solid transparent;
}

button::before{
  top:0;
  left:0;
  border-top-color:#fff;
  border-left-color:#fff;
}

button::after{
  bottom:0;
  right:0;
  border-bottom-color:#fff;
  border-right-color:#fff;
}

.button__area{
  padding-top:50px;
  padding-bottom:50px;
}

.section_d__inner__text{
  text-align:center;
  display:block;
  margin:0 auto;
  max-width:500px;
}

/*--------------------------
.section_e
-----------------------*/
.section_e{
  width:100%;
  max-width:1300px;
  margin:0 auto;
    /* display:block; */
  text-align:center;
}

.section_e__inner{
  background-color:lightgray;
  margin:0 auto;
  text-align:center;
  /* display:block; */
}

.section_e__inner h2{
  padding-top:50px;
  padding-bottom:20px;
}

.section_e__inner__box{
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  text-align:center;
  display:block;
  padding-left:auto;
  padding-right:auto;
}

.section_e__inner__r-column{
  display:inline-block;
  margin-top:70px;
  vertical-align:top;
  max-width:300px;
  padding-right:20px;
}

.section_e__inner__r-column p{
  font-size:11px;
  padding-bottom:20px;
}

.section_e__inner__l-column{
  display:inline-block;
  max-width:800px;
}

.section_e__inner__l-column img{
  width:500px;
  height:300px;
  /* display:inline-block; */
}

.STUDIO-PAGE__btn{
  background-color:#367d55;
  color:#fff;
  border-radius:20px;
  width:200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffa200;
  color: #fff;
  padding: 10px 70px;
  font-style: bold;
  border: 0px solid #000;
  bottom: 10%;
  text-decoration-line: none !important;
  width: 260px;
  margin: 0 auto;
  filter: drop-shadow(0 1mm 1mm rgb(128, 128, 128));
}

/*--------------------------
.section_f
-----------------------*/
.section_f{
  width:100%;
  max-width:1300px;
  margin:0 auto;
}

.section_f__inner{
  background-color:lightgray;
  max-width:1300px;
  margin:0 auto;
}

/*--------------------------
.section_f_2 グリッド
-----------------------*/
.section_f_2{
  width:100%;
  max-width:1300px;
  margin:0 auto;
  display:block;
}

.section_f_2__inner{
  background-color:lightgray;
  margin:0 auto;
}

.container{
    display:grid;
    width:600px;
    height:300px;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:10px 30px ;
    margin:0 auto;
}

.item1, .item2, .item3, item4, item5, item6{
  border:1px black solid;
}

.item1 {
  grid-row:1;
  grid-column:1/3;
  background-image:url("./images/_S8A5255.jpg")
}

.item2{
  grid-row:1;
  grid-column:3;
}

.item3 {
  grid-row:2 / 4;
  grid-column:3;
}

.item4{
  grid-row:3;
  grid-column:1 / 3;
}

.item5 {
  grid-row:2;
  grid-column:1;
}

.item6{
  grid-row:2;
  grid-column:2;
}

#gi1{
    background-color:aqua;
}
#gi2{
    background-color:seashell;
}
#gi3{
    background-color:darkkhaki;
}
#gi4{
    background-color:aquamarine;
}
#gi5{
    background-color:pink;

}
#gi6{
    background-color:yellow;
}
#gi7{
    background-color:orange;
}
#gi8{
    background-color:gray;
}

/*--------------------------
.section_g
-----------------------*/
.section_g{
  width:100%;
  background-color:#fff;
}

.section_g__inner{
  background-color:lightgray;
  max-width:1300px;
  margin:0 auto;
  text-align:left;
}

.text-column__access{
  /* width:100%; */
  max-width:700px;
  /* margin:0 auto; */
  /* text-align:left; */
  /* display:block; */
  width:100%;
  margin:0 auto;
  text-align:left;
}

.section_g__inner h2{
  font-size:20px;
}

.section_g__inner p{
  font-size:10px;
}

/*--------------------------
.section_h
-----------------------*/
.section_h{
  width:100%;
  max-width:1300px;
  height:auto;
  background-color:lightgray;
  margin:0 auto;
}

.section_h__inner{
  height:auto;
}

.access_map{
  width:700px;
  height:300px;
  background-color:lightblue;
  margin:0 auto;
}

/* Google Mapを囲う要素 */
.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%; /* 比率を4:3に固定 */
}

/* Google Mapのiframe */
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*------------------------
section_j_plus contact
--------------------------*/
.section_j_plus {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.section_j_plus__inner {
  background-color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.section_j_plus__inner h2 {
  font-size: 30px;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}

/*--------------------------
.section_i CONTACTコンタクト
-----------------------*/
.section_i {
  width: 100%;
  /* max-width:1300px; */
  background-color: #fff;
}

.section_i__inner {
  background-color: #fff;
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

.section_i h3 {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Poppins";
  font-weight: 50;
  font-size: 30px;
  text-align: center;
}

.text-column {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
/*-------------------------
section_comntact
---------------------------*/
.section_contact{
  width:100%;
}
.section_contact__inner{
  max-width:1200px;
  margin:0 auto;
  text-align:center;

}
/*--------------------------
.section_i_plus 地図
-----------------------*/

/* クラスが"section_i_plus"のセクションに対して */
.section_i_plus {
    width: 100%;
}

/* クラスが"section_i_plus__inner"のdivに対して */
.section_i_plus__inner {
    max-width: 1080px;
    margin: 0 auto;
    height: auto;
}

/* クラスが"access_map"のdivに対して */
.access_map {
    margin: 0 auto;
    height: auto;
    width: auto;
}

/* クラスが"access_map"の中のiframeに対して */
.access_map iframe {
    margin: 0 auto;
    text-align: center;
    display: block;
}

/* Google Mapを囲む要素 */
.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    /* 比率を4:3に固定 */
}

/* Google Mapのiframe */
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*--------------------------
section_tab
--------------------------*/
.menu {
  display: flex;
  /*隙間*/
  gap: 3px;
  margin: 0;
  padding: 0;
}

.item {
  flex: 0 0 140px;
  list-style: none;
  text-align: center;
  background: #d9d9d9;
  padding: 7px 5px 3px;
  border-radius: 5px 5px 0 0;
}

.item.active {
  background: pink;
}

.item:hover {
  cursor: pointer;
}

.container {
  border: 2px solid pink;
  padding: 20px;
}

.content {
  display: none;
}

.content.show {
  display: block;
}

/*--------------------------
.section_i アクセス
-----------------------*/
.section_i{
    width:100%;
    /* max-width:1300px; */
    background-color:#fff;
}

.section_i__inner{
    background-color:lightgray;
    max-width:1300px;
    margin:0 auto;
    text-align:left;
}

.text-column{
    width:100%;
    max-width:700px;
    margin:0 auto;
    text-align:left;
}

.section_i__inner h2{
    font-size:20px;
}
.section_i__inner p{
    font-size:10px;
}

/*--------------------------
.section_j
-----------------------*/
/* * {
  margin: 0;
  padding: 0;
  font-size: 16px;
} */

body {
  padding: 5%;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.section_j {
  width: 80%;
  margin: 0 auto;
}

.section_j table {
  width: 100%;
  margin: 20px auto 20px auto;
  border-collapse: collapse;
}

.section_j th,
.section_j td {
  padding: 10px 15px;
  border: 1px solid #999;
  font-weight: normal;
  text-align: left;
}

.section_j th {
  background: #eee;
  position: relative;
  width: 30%;
}

.section_j td {
  background: #fff;
}

input {
  padding: 5px;
}

textarea {
  padding: 5px;
  width: 90%;
}

.section_j th span {
  font-size: 12px;
  background: #f40;
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
}

.submit-button {
  text-align: center;
}

button {
  background: #09e;
  border: 0;
  border-radius: 5px;
  padding: 15px 50px;
  color: #fff;
  font-size: 18px;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  background: #18c;
}

.err {
  background: #c00;
  color: #fff;
  padding: 5px 15px;
  display: none;
}

#end {
  padding: 5%;
  text-align: center;
  display: none;
}

#end h1 {
  color: #09e;
}

#end div {
  border: 1px solid #ccc;
  background: #fff;
  padding: 5% 0;
}

/*--------------------------
.section_k
-----------------------*/
.section_k{
  width:100%;
  max-width:1300px;
  display:inline-block;
  margin:0 auto;
  text-align:center;
  display:block;
  background-color:lightgray;
}

.section_k__inner{
  background-color:lightgray;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  text-align:center;
  justify-content:space-between;
  max-width:700px;
}

.section_k-inner__r-column{
  /* display:inline-block; */
  margin-left:300px;
  /* text-align:center; */
  margin:0 auto;
  font-size:10px;
  margin:0 auto;
}

.section_k-inner__l-column{
  border:1px solid black;
  border-radius: 10px;
  width:300px;
  text-align:center;
  margin:0 auto;
}

.section_k-inner__l-column p{

}

.section_k-inner__l-column__font{
  font-size:5px;
  margin-top:20px;
  margin-bottom:5px;
}

.section_k-inner__l-column__info{
  text-align:left;
  margin:0 auto;
  display:inline-block;
  padding-right:auto;
}

.section_k-inner__l-column__info p{
  font-style:12px;
}

.section_k-inner__l-column__info__phone-number{
  font-size:10px;
}
.gold-number .contact-tel__link{
	color:#b99d49;
}

/*--------------------------
.footer フッター
-----------------------*/
.footer{
  width:100%;
  max-width:1300px;
  display:block;
  margin:0 auto;
}

.footer__inner{
  background-color:lightgray;
  text-align:center;
  margin:0 auto;
}

.footer__inner img{
  width:70px;
}

.section_k-inner__r-column{
  margin-top:30px;
  width:300px;
}

.section_k-inner__r-column__table{
  text-align:left;
}

.section_k-inner__l-column{
  height:150px;
  margin-top:30px;
}

.section_k-inner__l-column__thead{
  padding-top:20px;
	border: doted 2px #b99d49;
}

.section_k-inner__l-column_box{
	border:doted 2px #b99d49;
}

.contact-tel__link{
  font-size:20px;
  color:darkgreen;
}

/*------
戻るボタン
---------*/
#go_top {
  padding:20px;
  background:pink;
  text-decoration:none;
  position:fixed;
  bottom:20px;
  right:20px;
}

/*----------------------------------
メディアクエーリー スマホ
-----------------------------------*/
@media  (max-width:1024px){
html{
  font-size:12px;
}

h1{
  font-size:1.2rem;
}
/*-----------------------------------
header スマホSP
-----------------------------------*/
  header{
    padding:8px 40px 8px 8px;
  }
  .logo{
    display: none;
  }
  .menus{
    flex:4;
  }

/*-----------------------------------
section_a スマホSP
-----------------------------------*/
.section_a{
  width:100%;
  margin:0 auto;
}

.section_a__inner{
  flex-direction:column;
}

.section_a__r-column{
  margin:0 auto;
  text-align:center;
  display:block;
}

.main-logo img{
  /* text-align:center;
  margin:0 auto; */
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*-------------------------------
section_b スマホSP
---------------------------------*/
.section_b{
  width:100%;
  margin:0 auto;
  display:block;
}

.section_b__inner{
  width:70%;
  flex-direction:column;
  display:block;
  max-width:800px;
}

.section_b__r_column{
  text-align:center;
  margin:0 auto;
  display:block;
  padding-top:30px;
}

.section_b__sub-title{
  font-size: 15px;
  text-align:center;
  margin:0 auto;
  display:inline-block;
}

.section_b__l-column{
  text-align:center;
  margin:0 auto;
}

/*------------------------
section_c スマホSP
----------------------------*/
.section_c{
  width:100%;
  margin:0 auto;
}

.section_c__inner img{
  text-align:center;
  margin-left:180px;;
}

.trashcoffee{
  text-align:center;
  margin:0 auto;
}

/*------------------------
section_d スマホSP
----------------------------*/
.section_d{
  width:100%;
  margin:0 auto;
  margin-bottom: 60px;
}

.section_d__inner__flex{
  flex-direction:column;
  text-align:center;
}

.section_d__inner__text{
  padding-top:30px;
  font-size:20px;
}

.container2 button {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin:50px 120px 80px 120px;
}

/*------------------------
section_e スマホSP
----------------------------*/
.section_e{
  width:100%;
  margin:0 auto;
}
.font_title{
  font-size:40px;
}
.container2 button{
  margin:0 auto;
  display:inline-block;
  text-align:center;
}
/*------------------------
section_f スマホSP
----------------------------*/
.section_f{
  width:100%;
  margin:0 auto;
}

}
